/* Tạo một ::before dành cho li để thực hiện tạo một thanh màu xanh nàm ngang trên giao diện */
header .navbar-collapse .nav-item {
  position: relative;
  margin-right: 20px;
}

header .navbar-collapse .nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: green;
  transition: all 0.5s;
}

header .navbar-collapse .nav-item:hover::before {
  width: 100%;
}

header .navbar-collapse .nav-item:hover a {
  color: green !important;
}

header .navbar-collapse .active a {
  color: green !important;
}

header .navbar-collapse .active::before {
  width: 100%;
}

/* cyber_carousel css */
/* tạo lớp phủ overlay - cách 1 */
/* .carousel_text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39,43,54,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* tạo lớp phủ overlay - cách 2 */
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39,43,54,.5);
  z-index: 2;
}
.carousel_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  text-align: center;
}

.cyber_carousel .carousel_text img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* cyber_project css */
.cyber_project .nav-item .active {
  background-color: #35A22C;
  border-color: #35A22C !important;
  color: white !important;
}

.cyber_project .project_item .project_text {
  border: 2px solid transparent;
  border-radius: 0 0 8px 8px;
  border-top: none;
  transition: all 0.5s;
}

.cyber_project .project_item:hover .project_text {
  border-color: #35A22C;
}

@media screen and (min-width: 576px) {
  .cyber_project .nav-item .active {
    background-color: red;
    border-color: red !important;
  }
}

/* @media screen and (max-width: 992px) {
  .cyber_carousel h2 {
    color: orange;
  }
}

@media screen and (max-width: 576px) {
  header .navbar-brand span {
    color: orange !important;
  }
  .cyber_carousel h2 {
    color: red;
  }
}

@media screen and (max-width: 577px) and (max-width: 992px) {
  .cyber_carousel h2 {
    color: orange;
  }
} */


/* DEMO Animation */
.demo_animation {
  width: 100px;
  height: 100px;
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-delay: 2s;
}

@keyframes myAnimation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(300px, 0);
  }
  50% {
    transform: translate(300px, 200px);
  }
  75% {
    transform: translate(0, 200px);
  }
  100% {
    transform: translate(0, 0);
  }
}